---
---

* {
  color: #0f172a;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

h1, h2, h3, h4 {
  margin: 40px 0 10px 0;
  padding: 0;
}

p {
  margin-top: 0;
  line-height: 1.7rem;
}

h1 {
  font-size: 2.25rem;
  font-weight: 800;
  margin-bottom: 40px;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
}

h4 {
  font-size: 1.2rem;
  font-weight: 400;
}

.content {
  max-width: 700px;
  margin: 0 auto;
  padding: 40px;
}

@media only screen and (max-width: 768px) {
  .content {
    max-width: 100%;
  }
}

blockquote {
  background-color: #e5e7eb;
  border-radius: 8px;
  border-left: 8px solid #111827;
  margin-left: 0;
  padding: 20px;

  p {
    margin: 0;
  }
}

ul {
  padding-left: 20px;
  // list-style-type: none;

  li {
    line-height: 1.5rem;
  }
}
